*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; 
}
a{text-decoration: none;}
.container{
	max-width: 128rem;
	margin: 0 auto;
	padding: 0 2%; 
}
.w50{width: 50%;}
.w33{width: 33.3%;}
html{
	scroll-behavior: smooth;
	font-size: 10px;
}
					/*Preloader e uptotop*/
.preloader{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: #ddd;
	width: 100%;
	height: 100vh;
	z-index: 90;
	transition: .3s;
}
.preloader .icone{
	width: 10rem;
	height: 10rem;
	border: .1rem dashed black;
	border-top: 1rem solid #212343;
	border-bottom: 1rem solid #212343;
	border-radius: 50%;
	animation: gira 1s infinite; 
}
@keyframes gira{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
#toTop{
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	background-color: #212343;
	border-radius: 50%;
	z-index: 60;
}
#toTop p{
	font-size: 1.4rem;
	position: absolute;
	top: -2rem;
	text-transform: uppercase;
	font-weight: bolder;
	color: #212343;
	text-shadow: 0px 0px 5px white;
}
#toTop i{
	font-size: 3rem;
}
#toTop:hover{
	opacity: .6;
}					
																						/*Header*/

header{
	background-color: #212343 ;
	padding: 1rem 0;
}
header > .container a > h2{
	display: inline-block;
	color: white;
	font-size: 2.1rem;
	font-weight: lighter;
	padding: 0 1rem;
}
header > .container a > h2:hover{
	opacity: .6;
	transition: .3s;
}
																						/*Banner principal*/

section.principal{
	position: relative;
	padding: 3rem 0;
	background-image: url("../images/bg-main0.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.principal-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 0;
}
section.principal > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.banner{
	position: relative;
	z-index: 1;
	padding: 3rem 1rem;
}
.banner-overlay{
	position: absolute;
	width: 100%;
	height: 95%;
	top: 0;
	left: 0;
	background-color: rgba(33,35,67,0.6);
	z-index: 0;
	animation:cheguei .5s forwards;
}
.banner ul{
	position: relative;
	z-index: 1;
}
.banner ul > li{
	color: white;
	font-size: 1.8rem;
	font-weight: normal;
	list-style: inside;
	padding: 1.2rem;
	text-shadow: 0 .2rem .3rem rgba(0,0,0,.5);
	animation: cheguei 1.3s forwards;
	opacity: 0;
}
.banner ul>li:nth-child(1){
	animation-delay: .5s;
}
.banner ul>li:nth-child(2){
	animation-delay: .7s;
}
.banner ul>li:nth-child(3){
	animation-delay: .9s;
}

@keyframes cheguei{
	0%{
		transform: translateY(30rem) rotateY(80deg);
	}
	100%{
		transform: translateY(0rem) rotateY(0deg);
		opacity: 1;
	}
}

													/*Formulario*/

.formulario{position: relative;z-index: 1;}
.formulario > form{
	position: relative;
	top: -5rem;
	opacity: 0;
	width: 40rem;
	height: calc(100% + 10rem);
	border: 12px solid rgba(120,120,120,0.5);
	background-color: white;
	background-clip: padding-box;
	padding: 1.5rem;
	animation: cadastro 1s forwards;
}
@keyframes cadastro{
	0%{
		transform: translateX(40rem);
	}
	100%{
		transform: translateX(0rem);
		opacity: 1;
	}
}
form > .input-field label, form h2, form p{
	margin: 1rem 0;
	font-size: 1.8rem;
	font-weight: normal;
	color: gray;
}
form h2{
	text-align: center;
	font-size: 2.1rem;
	border-bottom: .4rem dotted gray;
	padding-bottom: 1rem;
}
form > .input-field input:not([type=submit]){
	border: 1px solid #ccc;
	border-left: 4px solid gray;
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	margin: 1rem 0;
	font-size: 1.6rem;
	font-weight: lighter;
	outline: none;
}
.submit-field{
	text-align: center;
}
form input[type=submit]{
	display: inline-block;
	width: 60%;
	height: 5rem;
	background-color: #212343;
	color: white; 
	border: .1rem solid #ccc;
	cursor: pointer;
	font-size: 2.5rem;
}
form input[type=submit]:hover{
	opacity: .92;
	transition: .2s;
	color: black;
}
																					/*sessão apresentacao*/

section.apresentacao{
	padding: 3rem 0;
	background-color: #ddd;
	text-align: center;
}
.apresentacao > .container h2{
	font-size: 2.4rem; 
	font-weight: bolder;
}
.apresentacao > .container p{
	font-size: 1.8rem;
	text-align: justify;
	margin: 2rem 0;
}
.apresentacao > .container i{
	position: relative;
	bottom: -6rem;
	color: #212333;
	font-size: 6rem;
	animation: look 3s infinite;
}
@keyframes look{
	0%{
		transform: scale(100%);
	}
	50%{
		transform: scale(120%);
	}
	100%{
		transform: scale(100%);
	}
}

																					/*Sessão vitrine*/

section.vitrine{
	padding: 6rem 0;
}
.vitrine > .container h2{

	margin-bottom: 3rem;
	font-weight: normal;
	font-size: 2.1rem;
	text-align: center;
}	
.vitrine > .container > .vitrine-itens{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}
.single-item i{
	font-size: 5rem;
	color: #212333;
}
.single-item i:hover{
	animation:shake .4s;
}
@keyframes shake{
	0%{
		transform: rotateZ(0deg);	
	}
	30%{
		transform: rotateZ(50deg)scale(120%);	
	}
	50%{
		transform: scale(100%);
	}
	70%{
		transform: rotateZ(-50deg)scale(120%);	
	}
	100%{
		transform: rotateZ(0deg) scale(100%);		
	}
}
.single-item h2{
	margin: 1rem 0;
	font-weight: normal;
	font-size: 2.1rem;
}
.single-item p{
	margin: 1rem 0;
	font-weight: normal; 
	font-size: 1.6rem;
}
																				/*Footer*/

footer{
	border-top: 3px solid #ddd;
	padding: 2.5rem 0;
}
footer > .container{
	text-align: center;
}
footer > .container p{
	font-size: 1.6rem;
	font-weight: normal;
}					
																/*Responsivo*/
					/*responsivo*/

@media screen and (max-width: 850px){
	header > .container{
		text-align: center;
	}
	header > .container a h2{
		display: inline-block;
	}
	.w50{
		width: 100%;
	}
	.w33{
		width: 50%;
	}
	.single-item{
		padding: 1rem .5rem;
	}
	.formulario > form{
		top: unset;
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}
	.apresentacao > .container p{
		text-align: center;
	}
}

@media screen and (max-width: 580px){
	.w33{
		width: 100%;
	}
}
